/SubtitleRenamer/SubtitleRenamer.sln
/SubtitleRenamer/App.config
/SubtitleRenamer/Properties
/SubtitleRenamer/SubtitleRenamer.csproj.user
/SubtitleRenamer/SubtitleRenamer.v12.suo
/SubtitleRenamer/SubtitleRenamer.csproj
